img{
	border-radius: 50%;
}

body{
	background-color: grey;

}

.navbar{

	/*background-color: gray;*/
	border-width: 30px;
	border-color: black;

	font-size: 50px;
}

@media all and (max-width: 480px){

	body {/background-color: blue;/
	}
}

@media all and (min-width: 481px) and (max-width:767px)
{

	body {background-color: yellow; 
	}
}

@media all and (min-width: 768px) and (max-width:992px)
{

	body {background-color: pink;
	}
}